.grid {
  display: table;
}
.grid .grid-row {
  display: table-row;
}
.grid .grid-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.grid .human-move .empty-square {
  cursor: pointer;
}
.grid .human-move .empty-square:hover {
  background-color: #e6e6e6;
}

.app-container {
  padding: 3em;
  max-width: 20em;
  margin: 0 auto;
}

.grid-row {
  height: 5em;
  /*width: 5em;*/
}

.grid-cell {
  height: 5em;
  /*height: 100%;*/
  width: 5em;
}

.empty-square {
  height: 5em;
  width: 100%;
  background-color: white;
  cursor: default;
}

.secondary-text {
  color: gray;
  font-size: smaller;
}
