body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.xo, .played-square {
  font-family: 'Architects Daughter', cursive;
}

.grid {
  display: table;
}
.grid .grid-row {
  display: table-row;
}
.grid .grid-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.grid .human-move .empty-square {
  cursor: pointer;
}
.grid .human-move .empty-square:hover {
  background-color: #e6e6e6;
}

.app-container {
  padding: 3em;
  max-width: 20em;
  margin: 0 auto;
}

.grid-row {
  /*height: 5em;*/
  /*width: 5em;*/
}

.grid-cell {
  /*height: 3em;*/
  /*height: 100%;*/
  /*width: 33.3%;*/
}

.empty-square {
  height: 5em;
  width: 100%;
  background-color: white;
  cursor: default;
  border:none;
}

.secondary-text {
  color: gray;
  font-size: smaller;
}
.ttt-board {
  width: 100%;
  height: 100%;
}
.ttt-square {
  /*position: relative;*/
  width: 33%;
  height: 33%;
  /*padding-bottom: 33%;
  height: 0;*/
  /*
  line-height: .75;
*/
font-size: 5rem;
line-height: .9;
  border:1px solid gray;
}

.ttt-square .empty-square, .ttt-square .played-square {
  /*position: absolute;*/
  /*font-size: 5rem;
  line-height: .9;*/
}
